.Iter-detail-wrap {
  .ralate-wrap {
    width: 100%;
    height: 100%;
    font-weight: 700;
    .relate-content {
      font-weight: 500;
      font-size: 95%;
      line-height: 200%;
      padding-left: 3%;
    }
  }
  .relate-move-L-7 {
    padding-left: 7%;
  }
  .relate-move-L-4 {
    padding-left: 4%;
  }
  .relate-move-L-5 {
    padding-left: 5%;
  }
  .relate-move-L-3 {
    padding-left: 3%;
  }
  .relate-move-L-2 {
    padding-left: 2%;
  }
  .relate-move-L-1 {
    padding-left: 1%;
  }
  .warn-btn {
    background-color: tomato;
  }
}