### Example user template template
# Created by .ignore support plugin (hsz.mobi)
### Kotlin template
# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.ear
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Eclipse template

.metadata
tmp/
*.bak
*.swp
*~.n


# maven ignore
target/
log/
.gitkeep
# package ignore
*.jar
*.war
*.zip
*.tar
*.tar.gz
# eclipse ignore
.settings/
.project
.classpath
bin/
# idea ignore
.idea/
*.ipr
*.iml
*.iws
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
# system ignore
.DS_Store
Thumbs.db
# javascript ignore
node_modules/
dist/
package-lock.json
.history/
