.combination-container {
  width: 100%;
  margin: auto;
  .ant-radio-button-wrapper{
    height: auto;
    min-height: 32px;
    padding: 0 1px;
    margin-right: 40px;
  }
  .cbnt-item{
    // height: auto;
    img{
      width: 264px;
      height: 159px;
    }
  }
}