/*---------------个人中心---------------*/

.personal-center {
  margin-bottom: 0px;
  .ant-card {
    margin-bottom: 20px;
    .ant-card-body {
      padding: 20px;
      padding-bottom: 0;
      background-color: #fff;
    }
    .link {
      font-size: 12px;
      cursor: pointer;
      &.confirm {
        color: #1890FF;
        margin-right: 10px;
      }
    }
  }
}
