.news-list-wrap {
  width: 100%;
  height: 100%;
  .edit-head-wrap {
    width: 100%;
    height: 30%;
  }
  .foot-bar {
    padding:2% 0 0 85%;
    // border-top: 1px solid #d0d0d0;
  }
  .blank-bar-ver {
    display: inline-block;
    width: 20%;
  }
}