.hp-maker {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
    padding: 0
  }
  .box-wrap {
  }
  .float-box {
    width: 50%;
    height: 50%;
    float: left;
  }
}



