.app-detail {
    min-height: 1230px;
    _height: 1200px;
    background: #fff;
    padding-top: 50px;
    padding-left: 70px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.app-detail .app-detail-header {
    width: 95%;
    min-height: 150px;
    _height: 150px;
    position: relative;
}
.app-detail .app-detail-header img {
    width: 110px;
    height: 110px;
    float: left;
    margin-right: 20px;
}
.app-detail .app-detail-header .app-detail-header-right {
    width: 100%;
    padding-top: 14px;
}
.app-detail .header-titlea {
    margin-bottom: 16px;
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    color: #474747;
    font-size: 14px;
    margin-right: 20%;
    width: 200px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: block;
    float: left;
}
.app-detail .see-detail-itema {
    background: #fff;
    z-index: 10;
    width: 100%;
    min-height: 230px;
    position: absolute;
    left: 0;
    top: 30px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 16px;
    transform: translate(0, 60px);
    transition: 0.5s;
}
.app-detail .see-detail-itemb {
    background: #fff;
    z-index: 10;
    width: 100%;
    min-height: 230px;
    position: absolute;
    left: 0;
    top: 30px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 16px;
    transform: translate(0,130px);
    transition: 0.5s;
}
.app-detail .see-detail-item-jurisdiction {
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
    float: left;
}
.app-detail .see-detail-item-jurisdiction .jurisdiction-title {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    color: #474747;
    font-size: 14px;
    float: left;
}
.app-detail .see-detail-item-jurisdiction .jurisdiction-list {
    width: 95%;
    min-height: 150px;
    float: left;
}
.app-detail .see-detail-item-jurisdiction .jurisdiction-list .jurisdiction-list-detail {
    width: 170px;
    height: 20px;
    float: left;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    white-space: nowrap;
    visibility: inherit;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15%;
    margin-bottom: 20px;
}
.app-detail .app-detail-exhibition {
    float: left;
    width: 100%;
    height: 550px;
    margin-top: 60px;
}
.app-detail .app-detail-exhibition .exhibition-title {
    width: 100%;
    height: 30px;
}
.app-detail .app-detail-exhibition .exhibition-title h3 {
    white-space: nowrap;
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #474747;
    float: left;
    margin-right: 40px;
}
.app-detail .app-detail-exhibition .exhibition-title div {
    width: 68px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    color: #666666;
    border: 1px solid #999;
    float: left;
    margin: 4px 10px 0 0;
}
.app-detail .app-detail-exhibition .exhibition-outside {
    width: 100%;
    height: 510px;
    float: left;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    padding: 30px 30px;
}
.exhibition-outside .exhibition-inside {
    width: 100%;
    height: 100%;
    position: relative;
}
.exhibition-outside .exhibition-inside .exhibition-inside-left {
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    color: #999;
    position: absolute;
    left: 30px;
    top: 200px;
    cursor:pointer;
}
.exhibition-outside .exhibition-inside .exhibition-inside-right {
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    color: #999;
    position: absolute;
    right: 30px;
    top: 200px;
    cursor:pointer;
}
.exhibition-outside .ant-carousel .slick-slide {
    text-align: center;
    height: 448px;
    line-height: 440px;
    background: #364d79;
    overflow: hidden;
  }
  
.exhibition-outside .ant-carousel .slick-slide div {
    color: #fff;
}
.app-detail .app-detail-introducea {
    width: 100%;
    height: 160px;
    float: left;
    margin-top: 50px;
}
.app-detail .app-detail-introducea h3 {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #474747;
}
.app-detail .app-detail-introducea  img {
    width: 100px;
    height: 106px;
}
.app-detail .app-detail-introducea .introduce-detail {
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #999999;
    margin-bottom: 6px;
}
.app-detail .app-detail-characteristica {
    width: 300px;
    height: 180px;
    float: left;
    margin-right: 10%;
}
.app-detail .app-detail-characteristica h3 {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #474747;
}
.app-detail .app-detail-characteristica img {
    width: 172px;
    height: 115px;
}
.app-detail .app-detail-relevanta {
    width: 100%;
    height: 80px;
    background: #fff;
    float: left;
}
.app-detail .app-detail-relevanta h3 {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #474747;
}
.app-detail .app-detail-relevanta .relevant-introduce {
    float: left;
    margin-right: 15%;
}
.app-detail .app-detail-relevanta .relevant-introduce span {
    font-family: 'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
    font-weight: 500;
    font-style: normal;
    color: #666666;
    font-size: 14px;
    margin-right: 10px;
}