
.li-hover{
  color: rgb(85, 162, 224);
  height:25px;
  line-height: 20px;
  width:180px; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden; 
}
.ul-margin{
  margin-left: -16px;
  font-size: 20px;
  list-style-image:url('../../assets/images/_ul.png')
}
.ul-top{
  margin-top: 15px
}
.span-color:hover{
  background-color: rgb(144, 197, 240)
}
.span-color{
  color:black;
  font-size: 12px;
  margin-left: 5px
}
.span-colors{
  color:black;
  font-size: 12px;
  margin-left: 5px
}
.span-top{
  display: inline-block;
  margin-top:24px;
  font-size: 12px;
}
.p{
  color:rgb(24, 144, 255);
  font-size: 16px;
  margin-top:20px;
}
.ST{
  color:rgb(144, 197, 240)
}
.details-right-title{
  color:rgb(241, 162, 14);
  font-size: 16px;
  margin-top:20px;
  height:13px;
}
.details-right-div{
  width:500px;
  text-align:center
}
.details-right-div-div{
  text-indent: 2em;
  margin-bottom: 50px;
  font-size: 12px;
}
.details-right-time{
  display: inline-block;
  margin-bottom: 20px;
}
.details-li-hover{
  color: rgb(85, 162, 224);
  margin-left: -100px;
  height:20px;
}
.details-li-ul{
  font-size: 28px;
  list-style-image:url('../../assets/images/ull.png') 
}
.details-li-ul-down{
  list-style-type: none;
 // margin-left: 30%;
  margin-top: 12px;
  padding-left: 0
}
.left-downer{
  margin-bottom: 8px;
  margin-top: 10px
}
.ant-btn-danger{
  color:#fff!important;
  background-color: rgb(53, 230, 53)!important;
  border:0!important
}
.ant-btn-danger:focus{
  border-color: rgb(53, 230, 53)!important;
}
.paragraph{
  text-overflow:ellipsis; 
  overflow: hidden; 
}
.Wxd{
  margin-bottom: 25px;
}
.Wxds{
  margin-bottom: 15px;
}

.share-Qzone{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/Qzone.png") no-repeat center;
  background-size: 100% 100%;
}
.share-WeChat{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  width: 17px;
  height: 17px;
  margin-top: 5px;
  background: url("../../assets/images/WeChat.png") no-repeat center;
  background-size: 100% 100%;
}
.share-SinaWB{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/SinaWB.png") no-repeat center;
  background-size: 100% 100%;
}
