/**
 有身份登陆进来的首页样式
 */
.header-bar-icon{
  margin-right: 100px;
  .anticon{
    padding-left: 15px;
    line-height: 30px;
    cursor: pointer;
  }
  .ant-badge{
    .anticon{
      margin-bottom: 4px;
    }
  }
  .ant-badge-count{
    position: absolute;
    top: 2px;
    min-width: 10px;
    height: 10px;
    line-height: 10px;
    padding:inherit;
  }
}
// .center-view{
//   width: calc(100% - 220px);
//   margin: 0 auto;
//   margin-bottom: 20px;
// }
/*消息通知页面*/
.list_itme{
  height: 13vh;
  border:1px solid #E4E4E4;
  margin-bottom: 10px;
}
.message-notice-card{
  margin-top: 15px!important;
  .notice-body{
    width: 60vw;
    margin: 0 auto;
    min-height: 80vh;
    .list-img{
      width: 5vw;
      display: inline-block;
      padding: 15px 0 0 20px ;
      float: left;
      .list_icon{
        width: 5vh;
        height: 5vh;
        line-height:7vh;
        border-radius: 5vh;
        text-align: center;
      }
      .list_icon_bg{
        background-color: #9DE151;
      }
      .list_icon_rg{
        background-color: #FF4645;
      }
      i{
        width: 3vh;
        height: 3vh;
        background: url("../../assets/images/notice/u5211.png") no-repeat center;
        background-size: 100% 100%;
        display: inline-block;
      }
    } 
    .notice-count{
      width:calc(55vw - 2px);
      float: right;
      padding: 15px 20px 0 20px;
      span{
        float: right;
      }
      p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
  .pagition{
    text-align: center;
  }
}
/*消息通知详情*/
.notice-detail{
  width: 50vw;
  margin: 0 auto;
  min-height: 80vh;
 h4{
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   color: #EE881E;
   margin-bottom: 20px;
 }
  P{
    text-align: left;
    font-size: 13px;
    color: #333333;
    text-indent:2em
  }
}
/*账号设置*/
.message-setting-card{
  .ant-card-body{
    padding-top: 0px !important;
  }
  margin-top: 15px!important;
  .setting-body{
    width: 80vw;
    margin: 0 auto;
    .safe_item{
      height: 75px;
      .list-img{
        width: 5vw;
        display: inline-block;
        padding: 25px 0 0 20px ;
        float: left;
        i{
          width: 3.5vh;
          height: 3.5vh;
          background: url("../../assets/images/notice/setting-right.png") no-repeat center;
          background-size: 100% 100%;
          float: left;
        }
      }
      .safe-name{
        border-bottom: 1px solid #F2F2F2;
        .tit{
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
          color: #666666;
          line-height: 75px;
          padding-right: 40px;
          border-right: 1px solid #F2F2F2;
        }
        .word{
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          color: #CF3A4B;
          padding-left: 20px;
        }
        .f-color{
          color: #999999 !important;
          .t-color{
            color: #CF3A4B !important;
          }
        }
        .describe{
          display: -webkit-inline-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          width: 30vw;
        }
        .modify{
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          margin-right: 15vw;
          line-height: 75px;
          float: right;
        }
      }
    }
    /*家长用户时*/
    .stu_list{
      height: 7vw;
      width: 18vw;
      float: left;
      margin-top: 15px;
      margin-right: 15px;
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(242, 242, 242, 1);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.099);
      .photo{
        width: 5vw;
        height: 6vw;
        text-align: center;
        line-height: 7vw;
        float: left;
        background: url("../../assets/images/u18499.png") no-repeat center;
        background-size: 100% 100%;
      }
      .stumessage{
        margin-top: 20px;
        padding-left: 15px;
        overflow: hidden;
        p{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .stulink-icon{
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    // 添加绑定card
    .addbind{
      cursor: pointer;
      border:1px dashed #E4E4E4;
      box-shadow: none !important;
      &:hover{
        background-color: #F9F9F9;
      }
      h4{
        text-align: center;
        padding-top: 2.5vw;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #999999;
      }
      .stulink-icon-add{
        font-size: 18px;
        padding-right: 10px;
      }
    }
  }
}

/*解除绑定*/
.setting-unbind-modal{
  width: 40vw;
  h4{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #666666;
  }
  .unbind-icon{
    padding: 20px;
    span{
      width: 4vw;
      height: 4vw;
      background: url("../../assets/images/notice/warn-unbind.png") no-repeat center top;
      background-size: 100% 100%;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -2vw;
    }
  }
}
/*修改密码*/
.pass-change-modal{
  width: 40vw;
  .new_pass_input{
    margin-bottom: 10px!important;
  }
  .passStrong{
    span{
      width: 30%;
      background-color: #F2F2F2;
      display: inline-block;
      height: 15px;
    }
    .lower{
      margin-right: 5%;
      background-color: #D53F0D;
    }
    .medium{
      margin-right: 5%;
      background-color: #F97B15;
    }
    .weak{
      background-color: #709F03;
    }
  }
}
// 修改手机号
.pass-change-modal.change-phone-number{
  #code_input{
    width: 10vw!important;
  }
  #v_container{
    float: right;
  }
  #maf_phone_con{
    width: 60%!important;
  }
}
// 退出
.sign_out{
  text-align: center;
  font-size: 18px;
}
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
