html{
  width: 100%;
  /*overflow-y: hidden;*/
}
body {
  background-color: rgba(244, 244, 244, 1);
}
html {
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
}
html::-webkit-scrollbar{width:0px}
/* ------------------------------------------- */

.content {
  width: auto;
  /*width: 1442px;*/
  position: relative;
}


.right {
  top: -20px;
  left: -18px;
  /*left: 274px;*/
  width: 102%;
  /*width: 1162px;*/
  height: 782px;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);

}

.right .layui-tab {
  margin: 23px 18px 0px 18px;
}

.right .layui-tab-title li {
  margin-left: 22px;
  font-family: 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.layui-tab-brief>.layui-tab-title .layui-this::after {
  color: rgb(24, 144, 255);
  border-bottom: 2px solid rgb(24, 144, 255);
}

.right .layui-tab-title {
  border: none;
}

.right .layui-tab ul li:hover {
  color: rgb(24, 144, 255);
  border-bottom: 2px solid rgb(24, 144, 255);

}

.layui-tab-content {
  padding: 0;
  height: auto;
  overflow: auto;
}

.layui-tab-item .card {
  /*width: 262px;*/
  width: 23.5%;
  height: 150px;
  border: 1px solid #e9e9e9;
  display: inline-block;
  margin-right: 16px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 24px;
  font-family: 'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight: 400;
}

.layui-tab-item .card p:nth-child(1) {
  font-family: MicrosoftYaHei, 微软雅黑;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.427);
  line-height: 22px;
}

.layui-tab-item .card p:nth-child(2) {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.847);
  line-height: 38px;
}

.layui-tab-item .card img {
  /*width: 218px;*/
  width: 88%;
  height: 25px;
  margin-top: 30px;
}

.layui-tab-item .card:nth-child(4) {
  margin-right: 0;
}

.layui-tab-item .pie-left,
.layui-tab-item .pie-right {
  /*width: 542px;*/
  width: 48.6%;
  height: 300px;
  margin-top: 12px;
  margin-right: 16px;
  display: inline-block;
  font-family: PingFangSC-Regular, "PingFang SC";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  border: 1px solid #e9e9e9;
}

.layui-tab-item .pie p {
  margin-top: 18px;
  margin-left: 20px;
}

.layui-tab-item .pie-right {
  margin-right: 0px;
}

