.main-bander-container{
  position: relative;
  .custom-slider{
    .slick-prev{
      left: 40px;
      z-index: 2;
      width: 40px;
      height: 40px;
      background: url("../../assets/images/login-home/u23.png") no-repeat center;
      background-size: 100% 100%;
      transform:rotate(180deg);
      -ms-transform:rotate(180deg); 	/* IE 9 */
      -moz-transform:rotate(180deg); 	/* Firefox */
      -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
      -o-transform:rotate(180deg); 	/* Opera */
    }
    .slick-prev:before{
      color: transparent;
    }
    .slick-next{
      right: 40px;
      z-index: 2;
      width: 40px;
      height: 40px;
      background: url("../../assets/images/login-home/u23.png") no-repeat center;
      background-size: 100% 100%;
    }
    .slick-next:before{
      color: transparent;
    }
  }
  .login-div-container{
    position: absolute;
    width: 300px;
    height: 370px;
    float: right;
    right: 15%;
    top: 30px;
    background: rgba(0, 0, 0, 0.549019607843137);
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    
    .login-btn{
      border: 0px;
      width: 100%; 
      background: linear-gradient(180deg, rgba(33, 113, 220, 1) 0%, rgba(33, 113, 220, 1) 0%, rgba(32, 81, 146, 1) 100%, rgba(32, 81, 146, 1) 100%);
    }
    .login-btn:hover{
      border: 0px;
      width: 100%;
      background: linear-gradient(180deg, rgba(32, 81, 146, 1) 0%, rgba(32, 81, 146, 1) 0%, rgba(33, 113, 220, 1) 100%, rgba(33, 113, 220, 1) 100%);
    }
    .register-btn{
      border: 0px;
      width: 100%;
      background: linear-gradient(180deg, rgba(230, 58, 27, 1) 0%, rgba(230, 58, 27, 1) 0%, rgba(198, 57, 28, 1) 100%, rgba(198, 57, 28, 1) 100%)
    }
    .register-btn:hover{
      border: 0px;
      width: 100%;
      background: linear-gradient(180deg, rgba(198, 57, 28, 1) 0%, rgba(198, 57, 28, 1) 0%, rgba(230, 58, 27, 1) 100%, rgba(230, 58, 27, 1) 100%)
    }
    
    /*.ant-form-item-control:nth-child(n+2){
      line-height: 0px;
      position: relative;
      zoom: 1;
    }*/
    .ant-form-item-control{
      line-height: 15px;
      position: relative;
      zoom: 1;
    }
  }
}
