.globalSearch {
    position: relative;
    .ant-select-selection--single {
        border-radius: 34px;
    }
    .anticon-search {
        position: absolute;
        right: 20px;
        top: -16px;
        color: #ccc;
        z-index: 100;
    }
}