$size: 18px;
$fontSize: 14px;
$marginLeft: 2%;
 .first {
    border-width:0px;
    background:inherit;
    background-color:rgba(255, 109, 74, 1);
    border:none;
    border-radius:8px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:$fontSize;
    color:#F2F2F2;
    text-align:center;
    width: $size;
    height: $size;
    border-radius: 100%;
    position: absolute;
    margin-left: $marginLeft;
    margin-top: -1%;
  }
  .second {
    border-width:0px;
    background:inherit;
    background-color:rgba(82, 196, 26, 1);
    border:none;
    border-radius:8px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:$fontSize;
    color:#F2F2F2;
    text-align:center;
    width: $size;
    height: $size;
    border-radius: 100%;
    position: absolute;
    margin-left: $marginLeft;
    margin-top: -1%;
  }
  .third {
    border-width:0px;
    background:inherit;
    background-color:rgba(251, 211, 55, 1);
    border:none;
    border-radius:8px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:$fontSize;
    color:#F2F2F2;
    text-align:center;
    width: $size;
    height: $size;
    border-radius: 100%;
    position: absolute;
    margin-left: $marginLeft;
    margin-top: -1%;
  }
  .other {
    border-width:0px;
    background:inherit;
    background-color:rgba(169, 175, 203, 1);
    border:none;
    border-radius:8px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'PingFangSC-Regular', 'PingFang SC';
    font-weight:400;
    font-style:normal;
    font-size:$fontSize;
    color:#F2F2F2;
    text-align:center;
     width: $size;
    height: $size;
    border-radius: 100%;
    position: absolute;
    margin-left: $marginLeft;
    margin-top: -1%;
  }
 